:root {
  --primaryColor: #0f0f0f;
  --secondaryColor: #222222;
  --whiteColor: #fff;
  --fontSize: 1rem;
  --hoverNavColor: #272727;
  --borderColor: #303030;
  --fullScreenHoverColor: #3d3d3d;
  --overlayColor: rgba(7, 7, 7, 0.5);
  --sideBorderColor: #3f3f3f;
}

.overlay-sidebar {
  width: 100vw;
  height: 100vh;
  background-color: var(--overlayColor);
}
