:root {
  --primaryColor: #0f0f0f;
  --secondaryColor: #222222;
  --whiteColor: #fff;
  --fontSize: 1rem;
  --hoverNavColor: #272727;
  --borderColor: #303030;
  --fullScreenHoverColor: #3d3d3d;
  --overlayColor: rgba(7, 7, 7, 0.5);
  --sideBorderColor: #3f3f3f;
}

.sidebartoggle-contaitner {
  width: 45%;
  max-width: 240px;
  height: 100%;
  background-color: var(--primaryColor);
  position: fixed;
  top: 0;
  left: -45%;
  z-index: 30;
  padding-left: 10px;
  transition: all linear 0.2s;

  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebartoggle-contaitner::-webkit-scrollbar {
  display: none;
}

.show-sidebar {
  left: 0;
  transition: all linear 0.2s;
}

.closeOverlay {
  background: transparent;
  transition: all linear 0.2s;
  z-index: -1000;
}

/* .sidebartoggle-contaitner::-webkit-scrollbar {
  scroll-behavior: inherit;
} */

.sidebar-nav {
  background-color: var(--primaryColor);
  width: 100%;
  height: 55px;
  margin-left: 13px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.left-nav {
  width: 100%;
}

.sidebar-box {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 12px;
  /* height: 20%; */
  /* background-color: red; */
  border-bottom: 1.5px solid var(--sideBorderColor);
}

.side-list {
  font-size: var(--fontSize);
  color: var(--whiteColor);
  list-style-type: none;
  /* background-color: rebeccapurple; */

  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 5px;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.side-list:hover {
  background-color: var(--hoverNavColor);
  cursor: pointer;
}

.side-list:first-child {
  margin-top: 15px;
}

.icon {
  font-size: 1.25rem;
}

.stream {
  color: #e40505;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}
.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.content span {
  margin-left: 15px;
}

.headerSidebar {
  color: var(--whiteColor);
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media screen and (min-width: 1170px) {
  .sidebartoggle-contaitner {
    left: 0;
    z-index: 40;
  }

  .show-sidebar .content .stream {
    display: none;
  }
  .show-sidebar .headerSidebar {
    display: none;
  }
  .show-sidebar .sidebar-box:nth-child(n + 3) {
    display: none;
  }
  .show-sidebar .sidebar-box {
    border-bottom: none;
  }
  .show-sidebar .side-list {
    width: 60px;
    height: 80px;
    font-size: 12px;
    margin-left: -3px;
  }
  .show-sidebar .side-list .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .show-sidebar .content span {
    margin: 0;
    padding: 0;
  }
}
